/*Begin Global Styling*/

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

html,body{
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	font-size:14px;
	max-width:900px;
	background:#eee;
}

.logo{
	font-size:2em;
	color:#F44336;
	background:rgba(255,255,255,0.6);
	display:inline-block;
	padding:.25em;
	border-radius:3px;
	position:relative;
}

#poster{
	background:url(images/teamwork.jpg);
	background-position:top left;
	background-size:cover;
	height:290px;
	width:100%;
	border:6px solid rgba(225,225,225,.35);
	position:relative;
}

.foreground{
	position:absolute;
	bottom:5%;
	left:5%;
	background:rgba(0,0,0,0.75);
	color:#222;
	width:90%;
	padding:5px;
	height:35%;
	margin:4px;
	border-radius:2px;
	color:#fff;
	font-size:1.45em;
}

article{
	width:95%;
	padding:4em 1em;
	background:#fff;
	margin:1em auto;
	position:relative;
	border-left:4px solid #aaa;
	border-bottom:4px solid #888;
}

article h2{
	position:absolute;
	top:0;
	left:-4px;
	width:100%;
	color:#fff;
	background:#FF1744;
	padding-left:1em;
	text-shadow:1px 1px 1px #000;
	border-left:4px solid #D50000;
	max-width:90%;
	font-size:1.75em;
}

article h2:after{
	position:absolute;
	top:-.125em;
	right:-.7em;
	width: 0; 
	height: 0; 
	border-top:.75em solid transparent;
	border-bottom:.75em solid transparent;
	border-left:.75em solid #FF1744;
	content:'';
}

.featured{
	background:#444;
	color:#fff;
	display:inline-block;
	padding:.5em;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

li{
	padding:.5em;
	color:#444;
}

ul li:nth-child(even){
	background:#ddd;
}

ul li:nth-child(odd){
	background:#eee;
}

article h3, article h4{
	color:#555;
}

article h3{
	font-size:1.5em;
}

article img{
	max-width:100%;
}

article p{
	font-size:1.1em;
}

article div{
	text-align:center;
}

article button{
	background:#D50000;
	color:#eee;
	font-weight:bold;
	padding:1em;
	border:0;
	margin:1em 0;
	-webkit-transition:padding .25s;
	-moz-transition:padding .25s;
	transition:padding .25s;
}

article button:hover{
	cursor:pointer;
	background:#B71C1C;
	padding:1em 4em;
}